  <!-- Navigation -->
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
 <i class="fa fa-bars"></i>
 </button>
 <a class="navbar-brand page-scroll" href="#page-top">
 <i class="fa fa-play-circle"></i> <span class="light">KDD</span> Aesthetics
 </a>
 </div>

 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
 <ul class="nav navbar-nav">
 <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
 <li class="hidden">
 <a class="page-scroll" href="#page-top"></a>
 </li>
 <li>
 <a class="page-scroll" href="#about">About</a>
 </li>
 <li>
 <a class="page-scroll" href="#contact">Contact</a>
 </li>
 <li>
  <a class="page-scroll" href="#download2">Follow Me</a>
 </li>
 <li>
 <a class="page-scroll" href="#contact2">Services</a>
 </li>
 <li>
 <a class="page-scroll" href="#testimonials">Testimonials</a>
 </li>
 </ul>
 </div>
 <!-- /.navbar-collapse -->
 </div>
 <!-- /.container -->
 </nav>

  <section id="page-top"></section>
 <!-- Intro Header -->
 <header class="intro">
 <div class="intro-body">
 <div class="container">
 <div class="row">
 <div class="col-md-8 col-md-offset-2">
 <%= image_tag("kdd.png", class: "img-responsive") %>
 <a href="#about" class="btn btn-circle page-scroll pulse">
 <i class="fa fa-angle-double-down"></i>
 </a>
 </div>
 </div>
 </div>
 </div>
 </header>
 
 

 <!-- About Section -->
 <section id="about" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>About Kathy</h2>

     <%= image_tag("kathy1.jpg", size: "300x300", alt: "Kathy Dutton Davis") %>
     
       <p>"I am an intuitive who uses all of my gifts to unlock the inner and outer beauty of every client." <br>
          <i>--Kathy Dutton Davis</i>
       </p> 
       
  <p>
  I graduated with my BA from UMD in 1996. After working 4 years as a Woman's and Youth Advocate for Tubman Family Alliance, 
  I decided to work in healing in a different capacity. I attended the Aveda Institute in 2000.
  </p>
  <p>
  My first 10 years as an aesthetician was spent learning as much technically about the skin as I enjoyed being the regional
  trainer for Crystal Free Microdermabrasion.  The last 5 years I have focused my education on the wellness and healing of 
  the body as a whole as well as the mind and spirit. I found that there was such a disconnect between our mind, body 
  and spirit and this is affecting the skin tremendously.
  </p>
  <p>
  My approach to the health and beauty of the skin is a holistic as well as "whole-istic". My goal is always one of healing 
  in every facet of the word. I believe that everything is connected, therefore, I believe that balance and harmony with the 
  mind, body and spirit is pivotal in understanding the skin specifically. I love to delve deeper than, "what cleanser do 
  you use?" to unlock the mystery of your skin and the struggles that lie therein. Mind...Body...Spirit
 </p>
 <p>
  My strengths lie in understanding my clients as a whole as well as the technical side thorough pore cleaning and 
  exfoliation. My most loyal following are those that struggle with pore congestion. Although it can be uncomfortable, 
  I am one to clean out all of the pores, if possible. The highest compliment paid to me is the comparison my clients 
  make to a well known aesthetician in NYC named "Mean Christine". She is beloved for her cleaning of the skin. 
  I have been name the "Mean Christine" of Minneapolis. I title I happily honor. 
  I am deeply committed to each client that walks through my door, not just from an aesthetics perspective, but, 
  again from place of the health and healing of one's mind, body and spirit.
  </p>
 </div>
 </div>
 </section>

 <!-- Contact Section -->
 <section id="contact" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>Contact Kathy</h2>
 <p>
   To schedule an appointment, please contact me so we may find a time that works for you.</p>
 <address>
  <strong>KDD Aesthetics</strong><br>
  4928 France Avenue<br>
  (second floor Grethen House)<br>
  Edina, MN 55410<br>
  <abbr title="Phone">P:</abbr> (612) 730-7510<br>
  <abbr title="Email">E:</abbr> <a href="mailto:kathy@kddaesthetics.com">kathy@kddaesthetics.com</a>
</address>
 </div>
 </div>
 </section>

 <!-- Download SASS Section -->
 <section id="download2" class="content-section text-center">
 <div class="download-section">
 <div class="container">
   <div class="col-lg-8 col-lg-offset-3">
 </div>
    <div class="col-lg-4 col-lg-offset-2">
     <h2> <a href="https://twitter.com/KddAesthetics" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a></h2>
      <a class="twitter-timeline" href="https://twitter.com/KddAesthetics" data-widget-id="626053994700537857">Tweets by @KddAesthetics</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>
   <div class="col-lg-4">
    <h2><a href="https://www.facebook.com/pages/KDD-Aesthetics/870249289678270?ref=profile" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a></h2>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/pages/KDD-Aesthetics/870249289678270?ref=profile" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/KDD-Aesthetics/870249289678270?ref=profile"><a href="https://www.facebook.com/pages/KDD-Aesthetics/870249289678270?ref=profile">KDD Aesthetics</a></blockquote></div></div>
 
   </div>
 </div>
 </div>
 </section>

 <!-- Contact Section -->
 <section id="contact2" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
   <h2>Services</h2>
 </div>
 
  <div class="col-lg-4">
    <h4>Relaxation Facial</h4>
      <p>My facials are tailored for each individual client. Each facial includes a relaxing and healing massage of the shoulder's,
         neck, face, hands and arms. Steam. I will also do a thorough cleaning (extractions) of the pores. This part can be rather
         intense based on how congested one's skin may be. You can rest assured that I will be able to clean out your congestion 
         and breakouts without fear of further damage that can sometimes happen post extractions.
      </p>
      <p>$150</p>
  </div>
  <div class="col-lg-4">
   <h4>Microdermabrasion</h4>
   <p>
   This treatment includes a cleanse and evaluation of the skin. Crystal-Free Microdermabrasion, steam, thorough extractions. 
   Finishing with hydration and protection.
   </p>
   <p>$125</p>
  </div>
  <div class="col-lg-4">
    <h4>Chemical Peels</h4>
      <p>A wonderful exfoliation of the skin with the use of glycolic or salicylic acids. This treament also includes steam, 
         thorough cleaning of the pores and hydrating treament.</p>
      <p>$100</p> 
  </div>   

  </div>
  <hr>
  <div class="row">


    <div class="col-lg-4">
      <h4>Dermaplaning</h4>
      <p>Dermaplaning (blading) is a simple and safe procedure for exfoliating the top layer of skin. It removes the fine 
      vellus hair (peach fuzz) as well as the outer most layers of dead skin cells, leaving the skin immdiaetly smooth, 
      supple and vibrant. This is then accompanied with an enzyme treatment, steam, thorough extractions, hydration 
      and protection treatments</p>
      <p>$125</p> 
      <p><i>Dermaplane upgrade/add on</i> - $30</p>
    </div>
     <div class="col-lg-4">
      <h4>Waxing</h4>
      <p>Classic hot wax treatment to treat specific areas of your body.</p>
      <p><i>Eyebrows</i> - $25</p>  
      <p><i>Lip, Chin, Cheeks</i> - $15 each</p> 
      <p><i>Underarms</i> - $25</p> 
    </div>    
  </div>
 </section>
 
  <!-- Contact Section -->
 <section id="testimonials" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
   <h2>Testimonials</h2>
   <h4><a href="https://www.groupon.com/biz/minneapolis/kdd-aesthetics">Click here for Groupon Link</a></h4>
 </div>
 
  <div class="col-lg-4">
    <h4>Prin M.</h4>
      <p>
         Kathy is a wonderful aesthetician ... she is totally wonderful !!!!
      </p>
  </div>
  <div class="col-lg-4">
    <h4>beth w.</h4>
      <p>
         Loved it!
      </p>
  </div>
  <div class="col-lg-4">
    <h4>Maggie M.</h4>
      <p>
         Kathy is wonderful, takes her time with you, answers questions patiently and fully and does an amazing job!
      </p>
  </div>

  </div>
  <hr>
  <div class="row">


   <div class="col-lg-4">
    <h4>Marcia H.</h4>
      <p>
         Great place very professional
      </p>
  </div>
   <div class="col-lg-4">
    <h4>kerry c.</h4>
      <p>
         It was great!!
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Cathy M.</h4>
      <p>
         Kathy was delightful. She was knowledgeable and experienced and gave well balanced advice. There was absolutely no push for further services, no products in the office to push either. I'll definitely see her again. I would not have tried microdermabrasion without the groupon offer.
      </p>
  </div>
  </div>
  
  <hr>
  <div class="row">


   <div class="col-lg-4">
    <h4>lisa j.</h4>
      <p>
         Very impressed! Greatly improved my skin and will definitely go back. Kathy was very personable.
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Heather h.</h4>
      <p>
         Great personality, phenomenal service. Need to go back and soon!
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Jennifer W.</h4>
      <p>
         Outstanding! I did the microdermabrasion...one of the best facials I've ever experienced.
      </p>
  </div>
  </div>
  
    <hr>
  <div class="row">


   <div class="col-lg-4">
    <h4>Rodney P.</h4>
      <p>
         Great service. Kathy was very professional and inviting. I was very thankful and pleased with her service!
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Susan B.</h4>
      <p>
         Kathy is wonderful and does such a great job!
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Jill D.</h4>
      <p>
         Very nice place and friendly service
      </p>
  </div>
  </div>
  
    <hr>
  <div class="row">


   <div class="col-lg-4">
    <h4>Deborah P..</h4>
      <p>
         Wonderful!      
      </p>
  </div>
   <div class="col-lg-4">
    <h4>maggie s.</h4>
      <p>
         Really professional-exceptional for Minneapolis-best facialist here for the really specific, healthy facial and extraction.
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Dieyna N.</h4>
      <p>
         The owner of KDD Aesthetics was very professional, friendly and wonderful. Will definitely go back!
      </p>
  </div>
  </div>
  


    <hr>
  <div class="row">


   <div class="col-lg-4">
    <h4>Megan W.</h4>
      <p>
         Kathy has a gift for making you look and feel beautiful! What a treat!   
      </p>
  </div>
   <div class="col-lg-4">
    <h4>virginia e.</h4>
      <p>
         She is excellent and very pleasant.
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Julie W.</h4>
      <p>
         Kathy is great! She really takes the time to talk with you about any issues you may have. You know she does care a great deal about her clients and wants to see you satisfied and happy with her work.
      </p>
  </div>
  </div>
  
  
    <hr>
  <div class="row">


   <div class="col-lg-4">
    <h4>Rayna S.</h4>
      <p>
         I was very pleased! Thank you! 
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Tanya B.</h4>
      <p>
         She was very nice and professional.
      </p>
  </div>
   <div class="col-lg-4">
    <h4>holly</h4>
      <p>
         Kathy is amazing!!!
      </p>
  </div>
  </div>
  
  
    <hr>
  <div class="row">


   <div class="col-lg-4">
    <h4>Ann T.</h4>
      <p>
         There are many groupons for microderm, but after some research they seem like they are done in the back of nail salon. I had looked into KDD aesthetics online and only saw good reviews. I purchased 4 groupons with the intention of getting my skin in shape for my wedding day. My skin greatly improved over the course of 4 months. Kathy gives nothing short of exceptional customer service and attention to detail. I will be definitely going back!
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Babette B.</h4>
      <p>
        It was wonderful!
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Mary B.</h4>
      <p>
         Would recommend it.
      </p>
  </div>
  </div>
      
  
    <hr>
  <div class="row">


   <div class="col-lg-4">
    <h4>Cindy L.</h4>
      <p>
         Kathy is the best! She's so sweet and personable, and her work does wonders on my skin.
      </p>
  </div>
   <div class="col-lg-4">
    <h4>Sue W.</h4>
      <p>
         Excellent experience! I recommend to other "first-timers"!
      </p>
  </div>

  </div>
    
  
 </section>




 <!-- Map Section -->
 <div id="map"></div>

 <!-- Footer -->
 <footer>
 <div class="container text-center">
 <p>Copyright &copy;<%= link_to "Hamco Internet Solutions", "http://hamcois.com" %> 2015</p>
 </div>
 </footer>

 <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR8O30oz8VXZO74UhgyJg8dtaYkp_hPeE&sensor=false"></script>
 
 