  <!-- Navigation -->
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
 <div class="container">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
 <i class="fa fa-bars"></i>
 </button>
 <a class="navbar-brand page-scroll" href="#page-top">
 <i class="fa fa-play-circle"></i> <span class="light">KDD</span> Aesthetics
 </a>
 </div>

 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
 <ul class="nav navbar-nav">
 <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
 <li class="hidden">
 <a class="page-scroll" href="#page-top"></a>
 </li>
 <li>
 <a class="page-scroll" href="#about">About</a>
 </li>
 <li>
 <a class="page-scroll" href="#contact">Contact</a>
 </li>
 <li>
  <a class="page-scroll" href="#download2">Follow Me</a>
 </li>
 <li>
 <a class="page-scroll" href="#contact2">Services</a>
 </li>
 </ul>
 </div>
 <!-- /.navbar-collapse -->
 </div>
 <!-- /.container -->
 </nav>

  <section id="page-top"></section>
 <!-- Intro Header -->
 <header class="intro">
 <div class="intro-body">
 <div class="container">
 <div class="row">
 <div class="col-md-8 col-md-offset-2">
 <%= image_tag("kdd.png", class: "img-responsive") %>
 <a href="#about" class="btn btn-circle page-scroll pulse">
 <i class="fa fa-angle-double-down"></i>
 </a>
 </div>
 </div>
 </div>
 </div>
 </header>
 
 

 <!-- About Section -->
 <section id="about" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>About Kathy</h2>

     <%= image_tag("Kathy.jpg", alt: "Kathy Dutton Davis") %>
     
       <p>"I seek to restore and refine the natural beauty 
          that every client already possesses by skillful 
          application of advanced technology and proven 
          techniques." <br>
          <i>--Kathy Dutton Davis</i>
       </p>         
  
   <p>
     Kathy Dutton Davis graduated with a Bachlelor of Arts from the University of Minnesota in 1996.
     In 2000 Kathy completed her education as an Esthetician and creating change in the skin has been
     her passion since.
   </p>
   <p>
     Kathy continues to grow and educate herself on the latest treatments, procedures and technologies
     in order to ensure that she gives the best treatment options to all her clients. She has been 
     trained by physicians over the years in microdermabrasion treatments and laser procedures. 
     She has been a trainer of microdermabrasion for estheticians and doctor's since 2003 specializing 
     in crystal-free microdermabrasion. Kathy also specializes in extractions and cleaning out pores. 
   </p>
   <p>
     Kathy is dedicated to creating change in the skin by using state of the art technology to bring
     skin to it's full beauty potential. She is a caring and compassionate person with your desired results 
     and well-being in mind.
   </p>
 </div>
 </div>
 </section>

 <!-- Contact Section -->
 <section id="contact" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <h2>Contact Kathy</h2>
 <p>
   To schedule an appointment, please contact me so we may find a time that works for you.</p>
   
 <h4>Hours</h4>
 Tuesday: 10:00 - 7:00<br>
 Wednesday: 10:00 - 7:00<br>
 Thursday: 10:00 - 7:00<br>
 Friday: 10:00 - 7:00<br>
 Saturday: 11:00 - 6:00<br>
 
 <hr>
 
 <address>
  <strong>KDD Aesthetics</strong><br>
  4928 France Avenue<br>
  (second floor Grethen House)<br>
  Edina, MN 55410<br>
  <abbr title="Phone">P:</abbr> (612) 730-7510<br>
  <abbr title="Email">E:</abbr> <a href="mailto:kathy@kddaesthetics.com">kathy@kddaesthetics.com</a>
</address>
 </div>
 </div>
 </section>

 <!-- Download SASS Section -->
 <section id="download2" class="content-section text-center">
 <div class="download-section">
 <div class="container">
   <div class="col-lg-8 col-lg-offset-3">
 </div>
    <div class="col-lg-4 col-lg-offset-2">
     <h2> <a href="https://twitter.com/KddAesthetics" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a></h2>
      <a class="twitter-timeline" href="https://twitter.com/KddAesthetics" data-widget-id="626053994700537857">Tweets by @KddAesthetics</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>
   <div class="col-lg-4">
    <h2><a href="https://www.facebook.com/pages/KDD-Aesthetics/870249289678270?ref=profile" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a></h2>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/pages/KDD-Aesthetics/870249289678270?ref=profile" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/KDD-Aesthetics/870249289678270?ref=profile"><a href="https://www.facebook.com/pages/KDD-Aesthetics/870249289678270?ref=profile">KDD Aesthetics</a></blockquote></div></div>
 
   </div>
 </div>
 </div>
 </section>

 <!-- Contact Section -->
 <section id="contact2" class="container content-section text-center">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
   <h2>Services</h2>
 </div>
 
  <div class="col-lg-4">
    <h4>Microdermabrasion</h4>
      <p>Crystal-free microdermabrasion safely, yet effectively exfoliates the skin.  This treatment also includes steam, thorough cleaning of the pores and hydrating treatment.</p>
      <p>$125</p>  
  </div>
    <div class="col-lg-4">
      <h4>Rejuvenating Facials</h4>
      <p>This treatment combines the best of relaxation with clarifying the skin. Your skin will be exfoliated, steamed, thoroughly extracted and hydrated. Followed by a massage of your neck, shoulders, face, hands and arms. You will leave looking and feeling fabulous.</p>
      <p>$110</p> 
      <p><i>Microderabrasion facial upgrade</i> - $150</p>
      <p><i>Chemical peel facial upgrade</i> - $125</p>
    </div>
    <div class="col-lg-4">
      <h4>Dermaplaning</h4>
      <p>Dermaplane is performed as a stand alone treatment or prior to other skincare treatments to enhance their effectives .This is a wonderful form of exfoliation that can be used with or without chemicals. This treatment does not require downtime and will effectively smooth acne scars and give you the smoothest possible skin.</p>
      <p>$125</p>  
    </div>
  </div>
  <hr>
  <div class="row">
     <div class="col-lg-4">
      <h4>Chemical Peels</h4>
      <p>A wonderful exfoliation of the skin with the use of glycolic or salicylic acids. This treament also includes steam, thorough cleaning of the pores and hydrating treament.</p>
      <p>$85</p>  
    </div>
     <div class="col-lg-4">
      <h4>Waxing</h4>
      <p>Classic hot wax treatment to treat specific areas of your body.</p>
      <p><i>Eyebrows</i> - $25</p>  
      <p><i>Lip, Chin, Cheeks</i> - $15 each</p> 
      <p><i>Underarms</i> - $25</p> 
    </div>    
  </div>
 </section>



 <!-- Map Section -->
 <div id="map"></div>

 <!-- Footer -->
 <footer>
 <div class="container text-center">
 <p>Copyright &copy;<%= link_to "Hamco Internet Solutions", "http://hamcois.com" %> 2015</p>
 </div>
 </footer>

 <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR8O30oz8VXZO74UhgyJg8dtaYkp_hPeE&sensor=false"></script>
 
 